body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    background-color: lightblue;
    background-size: 100%;
}

@font-face {
    font-family: Brut;
    src: url(./fonts/Grotesque-MT-Black.ttf);
}

@font-face {
    font-family: Delogy;
    src: url(./fonts/Delogy-Regular.ttf);
}

@font-face {
    font-family: calcFont;
    src: url(./fonts/digital-7.ttf);
}

@font-face {
    font-family: Alterno;
    src: url(./fonts/Alternox\ Regular.otf);
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
}
.calculator p{
    margin: 0px;
    font-size: 26px;
    color: black;
    font-weight: bold;
    font-family: Alterno, sans-serif;
}
.calculator .result{
    background-color: white;
    height: 107.438px;
    width: 395.891px;
    text-align: right;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 10px 20px;
    border: 5px solid;
}

.result h3{
    margin: 0px;
    font-family: calcFont;
    font-size: 21px;
}

.result h1{
    margin: 0px;
    font-family: calcFont;
    font-size: 56px;
}

.result h3, .result h1{
    font-weight: 100;
}

.calculator .keys{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

.keys .topRow{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.firstRow, .secondRow, .thirdRow, .fourthRow{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.topRow button{
    font-size: 25px;
    height: 80px;
    width: 190px;
    font-family: Alterno, sans-serif;
    background-color:white;
    color: black;
    border: 3px solid ;

}

.firstRow button, .secondRow button, .thirdRow button, .fourthRow button{
    font-size: 25px;
    height: 80px;
    width: 90px;
    font-family: Alterno, sans-serif;
    color: black;
    background-color: white ;
    border: 3px solid ;

}

.firstRow button:hover, .secondRow button:hover, .thirdRow button:hover, .fourthRow button:hover, .topRow button:hover{
    filter: invert(100%);
}

.firstRow button:active, .secondRow button:active, .thirdRow button:active, .fourthRow button:active, .topRow button:active{
    transform: scale(1.05,1.05);
    border: 1px solid purple;
}